<ion-view>
	<ion-content>
		<ion-list>
			<ion-item ng-href="#/tab/add-new-ledger" class="item-remove-animate" type="item-text-wrap">
				+ Add New
			</ion-item>
			<ion-item class="item-divider" ng-repeat-start="doc in ledgers" ng-if="$index == 0 || (doc.created | date:'EEEE') != (ledgers[$index - 1].created | date:'EEEE')">
				{{doc.created | date:'EEEE'}}
			</ion-item>
			<ion-item ng-repeat-end class="item-remove-animate item-avatar item-icon-right" ng-href="#/tab/ledgers/{{doc._id}}">
				<img attachment="doc._id">
				<h2>{{doc.purchase}}</h2>
				<p>{{doc.created | date:'HH.mm - EEEE - dd.MM.yyyy'}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-assertive" ng-click="delete(doc._id, doc._rev)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
